<mat-card class="example-card" [routerLink]="['detail', airport.key]">
  <figure>
    <div class="plane-image"></div>
  </figure>
  <div class="info">
    <mat-card-header>
      <mat-card-title>{{ airport.name }}</mat-card-title>
      <mat-card-subtitle>{{ airport.key }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p><strong>City:</strong> {{ airport.city }}</p>
      <p><strong>Country:</strong> {{ airport.country }}</p>
    </mat-card-content>
  </div>
</mat-card>
