@import "../../styles";

.header {
  background: $gray-75;
  color: $color-white;
  padding: 20px;
}

.aiports-list {
  margin: $margin;
  .airports-list-containers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $margin;
  }
}
