@import "../../../styles.scss";
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0";

.main-toolbar {
  background: $color-primary-a;
  padding: 0 $margin;
  display: flex;
  justify-content: space-between;
  .user-area {
    display: flex;
    align-items: center;
    gap: $margin;
    .sign-out-icon {
      cursor: pointer;
    }
    .sign-out-icon:hover {
      cursor: pointer;
      color: red;
      transition: 0.5s;
    }
  }
  .pointer {
    cursor: pointer;
  }
}
